<h1>Testfilens rubrik</h1>
<h2>
    <%= variabeln %>
</h2>
<h2>
    <%= variabeln %>
</h2>

<ul>
    <% for(let i = 0 ; i <= names.length ; i++) { %>
        <li>
            <%= names[i] %>
        </li>
        <% } %>
</ul>